/* Import Google font - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
}

.game-container input[type="text"] {
  font-size: 1.1rem;
}

.game-container button[type="button"] {
  font-size: 1.05rem;
}

.game-container .submit-btn.show-btn {
  display: block;
}

.game-container .submit-btn,
.game-container.show-result .submit-btn {
  display: none;
}

.game-container :where(.normal-img, .next-btn, .result) {
  display: none!important;
}

.game-container.show-result :where(.normal-img, .next-btn, .result) {
  display: block!important;
}
